<h3>Projects</h3>
<div class="project">
    <h4>
        <a href="https://github.com/kzi-nastava/mrs-team12-Vroom">
            Vroom - Full-Stack Multi-Platform Taxi Tracking app
        </a>
    </h4>
    <p><strong>Stack:</strong> Spring Boot, Angular, Android</p>
    <p>Web and Android application for booking and tracking rides. Focused on security, authorization, HTTP/WebSocket
        protocols, and push notifications.</p>
</div>
<div class="project">
    <h4>
        <a href="https://github.com/vasicm4/key-value-engine">
            Key-Value NoSQL Database
        </a>
    </h4>
    <p><strong>Stack:</strong> Go</p>
    <p>Database employing advanced algorithms and structures (WAL, MemTables, SSTables, LSM Tree, B-tree, Block Manager)
        to store key-value pairs.</p>
</div>
<div class="project">
    <h4>
        <a href="https://github.com/teofeel/sokic-naeksic">
            Graph Visualizer
        </a>
    </h4>
    <p><strong>Stack:</strong> Python</p>
    <p>Flask application supporting data source plugins (JSON, YAML, XML) and visualization plugins. Features
        search/filter operations, workspaces, and CLI-based graph modification.</p>
</div>