<h3>Skills</h3>
<div class="skill-section">
    <h4>Programming Languages</h4>
    <p>Java, Python, C++, GoLang, C#, HTML, CSS, JavaScript, TypeScript</p>
</div>
<div class="skill-section">
    <h4>Technologies</h4>
    <p>Spring Boot, .NET, Angular, Flask, Apache Kafka, Apache Lucene, Selenium</p>
</div>
<div class="skill-section">
    <h4>Soft Skills</h4>
    <p>Organization, Communication, Working under pressure, Teamwork</p>
</div>
<div class="skill-section">
    <h4>Languages</h4>
    <p>Serbian (Native), English (Fluent)</p>
</div>